<!DOCTYPE html>
<html lang="en">
<head>
  <title>AirCrack GUIfi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>GUIfi 0.1</h1>
  <p>A graphic web interfase for Aircrack running on Rails</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>System information</h3>
      <strong>Date and Time: </strong><span><%= @Date %></span><br>
      <br>
      <strong>Hostname: </strong><span><%= @Hostname %></span><br>
      <br>
      <strong>Current User: </strong><span><%= @User %></span><br>

    </div>
    <div class="col-sm-4">
      <h3>Wireless interfaces</h3>
      <strong>Network Information: </strong><span><%= @NetworkInf %></span><br>
      <br>
      <strong>Wireless interfaces: </strong><span><%= @airmonstat  %></span><br>
      <br>
    </div>
    <div class="col-sm-4">
      <h3>Aircrack Status</h3>

      <strong>Checking processes: </strong><span><%= @airmoncheck  %></span><br>
      <strong>Killing intruder processes:</strong><span><%= @airmonkill  %></span><br>
      <strong>Monitor mode in wlan0::</strong><span><%= @airmonstart  %></span><br>

    </div>
  </div>
</div>

</body>
</html>



<div class="container">
  <h2>Options</h2>
  <button type="button" class="btn" onclick="window.location.href='/networks'" >Home</button>
  <button type="button" class="btn btn-default" onclick="window.location.href='networks/test'" >Test</button>
  <button type="button" class="btn btn-success"  onclick="window.location.href='networks/scan'" >Scan</button>
  <button type="button" class="btn btn-primary"  onclick="window.location.href='networks/report'" >Report</button>
  <button type="button" class="btn btn-warning" onclick="window.location.href='networks/load'" >Load static</button>
  <button type="button" class="btn btn-danger" onclick="window.location.href='networks/kill'" >Kill</button>
  <button type="button" class="btn btn-info" onclick="window.location.href='show'" >Show</button>
</div>
