<h1>AirCrack GUIfi</h1>
<br>
<h2>System information</h2>


<strong>Date and Time: </strong><span><%= @Date %></span><br>
<strong>Hostname: </strong><span><%= @Hostname %></span><br>
<strong>Current User: </strong><span><%= @User %></span><br>
<strong>Network Information: </strong><span><%= @NetworkInf %></span><br>
<br>

<h3> Checking statys ff wireless interfaces: </h3>
<span> <%= @airmonstat %> </span>
<br>
<h3> Checking processes: </h3>
<span> <%= @airmoncheck %> </span>
<br>
<h3> Killing intruder processes: </h3>
<span> <%= @airmonkill %> </span>
<br>
<h3> Startin Monitor mode in wlan0 (Yes wlan0!): </h3>
<span> <%= @airmonstart %> </span>
<br>
<br>






<%= link_to "Home", networks_path %>
<%= link_to "Test", test_path %>
