<h1>AirCrack GUIfi</h1>
<br>
<h2>System information</h2>


<strong>Date and Time: </strong><span><%= @Date %></span><br>
<strong>Hostname: </strong><span><%= @Hostname %></span><br>
<strong>Current User: </strong><span><%= @User %></span><br>
<strong>Network Information: </strong><span><%= @NetworkInf %></span><br>
<br>


<%= link_to "Home", networks_path %>
<%= link_to "Test", test_path %>
