<!DOCTYPE html>
<html lang="en">
<head>
  <title>AirCrack GUIfi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag "application", "chartkick" %>


  <div class="container">
    <h2>GUIfi wireless report</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Summary</h1></div>

      <div class="panel-body">
        <br>

        <div class="row">
          <div class="col-xm-6">
            <h3>Total Networks by Encryption</h3>
            <%= pie_chart @Networks.group(:Encryption).count %>
          </div>
        </div>
      </div>



            <div class="panel-body">
              <br>

              <div class="row">
                <div class="col-xm-6">
                  <h3>Total Networks by Channel</h3>
                      <%= column_chart @Networks.group(:Channel).count %>
                </div>
              </div>




      <div class="panel-body">
        <br>

        <div class="row">
          <div class="col-xm-6">
            <h3>Total Networks by data packets captured</h3>
                <%= column_chart @Networks.pluck(:ESSID, :Data), xtitle: "Network", ytitle: "Number of packets", label: "Value" %>
          </div>
        </div>


    </div>
  </div>



  <div class="container">
    <h2>Options</h2>
    <button type="button" class="btn" onclick="window.location.href='/networks'" >Home</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/networks/test'" >Test</button>
    <button type="button" class="btn btn-success"  onclick="window.location.href='/networks/scan'" >Scan</button>
    <button type="button" class="btn btn-primary"  onclick="window.location.href='/networks/report'" >Report</button>
    <button type="button" class="btn btn-warning" onclick="window.location.href='/networks/load'" >Load static</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href='/networks/kill'" >Kill</button>
    <button type="button" class="btn btn-info" onclick="window.location.href='/networks/show'" >Show</button>
  </div>

  </body>
  </html>
