<h1> <strong>Identified networks</strong> </h1>
<div>
<br>
<br>
<br>

<table>
  <tr>
    <th>GUIfi</th>
  </tr>
  <% @Networks.each do |st| %>
    <tr>
      <td><%= link_to "Attack", attack_path(st.id)%></td>
      <td><%= st.id %></td>
      <td><%= st.ESSID %></td>
      <td><%= st.BSSID %></td>
      <td><%= st.Channel %></td>
      <td><%= st.Encryption %></td>
      <td><%= st.Decrypted %></td>
      <td><%= st.Data %></td>
      <td><%= st.LastTime %></td>

    </tr>
  <% end %>
</table>


<br>
<br>
<br>

<div>


<h1><%= @Date %></h1>
</div>

<%= link_to "Home", networks_path %>
<%= link_to "Test", test_path %>
<%= link_to "Load", load_path %>
<%= link_to "Kill", kill_path %>
<%= link_to "Scan", scan_path %>
